header{
    background-color: rgb(87, 33, 18);
}

body{
    background-color: rgb(87, 33, 18);
}

footer{
    background-color: rgb(87, 33, 18);
}

#homeBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #edc858;
    color: #000000;
    cursor: pointer;
    
  }

#coastersBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #edc858;
    color: #000000;
    cursor: pointer;
    
  }

#parksBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #edc858;
    color: #000000;
    cursor: pointer;
    
  }

#contactBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #edc858;
    color: #000000;
    cursor: pointer;
    
  }


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
    color: white;
}

img {
    width: 300px;
    height: 300px;
}