<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thorpe Park</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!--Links CSS-->
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico"> <!--Favicon-->
</head>
<body>
    <header>
        <h1>Thorpe Park</h1>
        <nav>
            <ul>
                <li><a href="/random.html">Home</a></li>
                <li><a href="{{ url_for('coasters') }}">Coasters</a></li> <!-- Links to other pages -->
                <li><a href="{{ url_for('parks') }}">Parks</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Details</h2>
        <p><strong>Park Name:</strong> Thorpe Park</p>
        <p><strong>Location:</strong> London</p>
        <p><strong>Description:</strong> Thorpe Park is a popular theme park in England, known for its adrenaline-pumping rides, water attractions, and immersive experiences, set amidst beautiful landscapes.</p>
        <p><strong>Website:</strong> https://www.thorpepark.com/</p>
        <p><strong>Opening Date:</strong> 24 May 1979</p>
        <!-- Add more fields as needed -->

        <img src="/static/images/thorpe_park.jpg" alt="Thorpe Park">
    </div>

    <footer>
        <p>Contact us at <a href="mailto:shakyblakey123@gmail.com">shakyblakey123@gmail.com</a></p>
        <p>&copy; 2024 Rollercoaster World</p>
    </footer>
</body>
</html>
