<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blackpool Pleasure Beach</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!--Links CSS-->
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico"> <!--Favicon-->
</head>
<body>
    <header>
        <h1>Blackpool Pleasure Beach</h1>
        <nav>
            <ul>
                <li><a href="/random.html">Home</a></li>
                <li><a href="{{ url_for('coasters') }}">Coasters</a></li> <!-- Links to other pages -->
                <li><a href="{{ url_for('parks') }}">Parks</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h2>Details</h2>
        <p><strong>Park Name:</strong> Blackpool Pleasure Beach</p>
        <p><strong>Location:</strong> Blackpool</p>
        <p><strong>Description:</strong>Blackpool Pleasure Beach is an iconic amusement park in England, boasting a mix of classic and modern rides, live entertainment, and seaside charm, attracting visitors of all ages.</p>
        <p><strong>Website:</strong> https://www.blackpoolpleasurebeach.com/</p>
        <p><strong>Opening Date:</strong> 1896</p>
        

        <img src="/static/images/blackpool.jpg" alt="Blackpool Pleasure Beach">
    </div>

    <footer>
        <p>Contact us at <a href="mailto:shakyblakey123@gmail.com">shakyblakey123@gmail.com</a></p>
        <p>&copy; 2024 Rollercoaster World</p>
    </footer>
</body>
</html>
